<main>
    <section>
        <div class="row mt-2 ms-3">
            <div class="col">
                <h2>Histórico de senhas</h2>
            </div>
            <div class="my-3 mb-4">
                <button class="btn btn-secondary" (click)="navigateToGenerate()">Gerador de senhas</button>
            </div>
        </div>
        <div class="row ms-3 me-3">
            <div class="col">
                <div *ngIf="passwords && passwords.length > 0; else noPasswords" class="table-responsive">
                    <table class="table table-striped align-middle mb-3">
                        <thead>
                            <th class="password-table-header">Senha</th>
                            <th class="date-table-header">Data de criação</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let password of passwords | paginate: {itemsPerPage: 10, currentPage: currentPage, totalItems: passwordsCount}">
                                <td vAlign="middle" class="text-break">{{password.password}}</td>
                                <td vAlign="middle">{{password.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <pagination-controls
                            (pageChange)="OnPageChange($event)"
                            previousLabel="Anterior"
                            nextLabel="Próxima"
                        >
                        </pagination-controls>
                    </div>
                </div>
                <ng-template #noPasswords>
                    <h4>Não foi possível encontrar senhas geradas</h4>
                </ng-template>
            </div>
        </div>
    </section>
</main>