input[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.form-check-input {
    width: 45px;
    height: 25px;
    cursor: pointer;
}

.form-check-label {
    font-size: 1.2rem;
    margin-left: 0.5rem;
}