<main>
    <section>
        <div class="row mt-2 ms-3">
            <div class="col">
                <h2>Gerador de senha</h2>
            </div>
            <div class="my-3 mb-4">
                <button class="btn btn-secondary" (click)="navigateToHistory()">Histórico de senhas</button>
            </div>
        </div>
        <form class="mb-4 ms-4">
            <div class="row mb-2">
                <div class="col-3">
                    <div class="form-floating">
                        <input id="password-length-input" class="form-control" type="number" placeholder="0" [(ngModel)]="passwordLength" name="password-length"/>
                        <label for="password-length-input">Tamanho da senha</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="form-check form-switch">
                        <input id="uppercase-switch" class="form-check-input" type="checkbox" [(ngModel)]="useUpperCaseLetters" name="use-upper-case-letters"/>
                        <label for="uppercase-switch" class="form-check-label">Usar letras maiúsculas</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="form-check form-switch">
                        <input id="lowercase-switch" class="form-check-input" type="checkbox" [(ngModel)]="useLowerCaseLetters" name="use-lower-case-letters"/>
                        <label for="lowercase-switch" class="form-check-label">Usar letras minúsculas</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="form-check form-switch">
                        <input id="number-switch" class="form-check-input" type="checkbox" [(ngModel)]="useNumbers" name="use-numbers"/>
                        <label for="number-switch" class="form-check-label">Usar números</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-check form-switch">
                        <input id="specialcharacters-switch" class="form-check-input" type="checkbox" [(ngModel)]="useSpecialCharacters" name="use-special-characters"/>
                        <label for="specialcharacters-switch" class="form-check-label">Usar caracteres especiais</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button type="button" class="btn btn-primary w-100 custom-btn" (click)="generatePassword()">Gerar senha</button>
                </div>
            </div>
        </form>
        <hr>
        <div *ngIf="password" class="row mb-2 ms-3">
            <h4>Senha:</h4>
            <div class="col-6 mt-1">
                <div class="input-group">
                    <input id="password-input" class="form-control" type="text" placeholder="Senha" [(ngModel)]="password" name="password" readonly/>
                    <button type="button" class="btn btn-outline-primary" (click)="copyPassword()">Copiar</button>
                </div>
            </div>
        </div>
    </section>
</main>